{% extends 'base.html' %}
{% load static %}
{% block titulo %} Crud Productos {% endblock %}
{% block body %}

<div class="container mt-5">
    <h1 class="text-center">ADMIN CRUD PRODUCTOS</h1>

    <!-- Tabla de Productos -->
    <table class="table">
        <thead>
            <tr class="Cabezal_Tabla">
                <th>Imagen</th>
                <th>id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Disponibilidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                
                <td>
                    {% if producto.foto %}
                        <img src="{{ producto.foto.url }}"  style="width: 50px; height: 50px;">
                    {% else %}
                        Sin imagen
                    {% endif %}
                </td>
                <td>{{ producto.id }}</td>
                <td>{{ producto.nombre }}</td>
                <td>${{ producto.precio }}</td>
                <td>{{ producto.disponibilidad }}</td>
                <td>
                    <a href="#" class="btn btn-warning">Editar</a>
                    
                    <a href="#" class="btn btn-danger" onclick="return confirm('¿Estás seguro?')">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">No hay productos disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div aria-label="Page navigation example">
        <ul class="pagination">
            <li class="pagination-next-previous">
                <a class="page-link pagination-next-previous">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="pagination-next-previous">
                <a class="page-link pagination-next-previous" href="#">Next</a>
            </li>
        </ul>
    </div>

    <a href="{% url 'admin_dashboard' %}" class="btn btn-primary">Volver a Dashboard</a>
</div>

{% endblock %}
