{% extends 'base.html' %}
{% load static %}
{% block titulo %} Crud-DashBoard {% endblock %}
{% block titulo-body %} Admin Dashboard {% endblock %}    
{% block body %}
    <main style="min-height: 400px; display: flex; align-items: flex-start;">
        
        <div class="container">

                <div class="row no-gutters row-cols-1 row-cols-md-2 g-3" style="justify-content: space-around;">
                            <a href="{% url 'adminCRUDU' %}" class="btn-cambios btn btn-primary btn-crudu">Gestion de
                                Usuarios</a>

                            
                            <a href="{% url 'crud_categoria' %}" class="btn-cambios btn btn-primary btn-crudc">Gestion de
                                Categorías</a>


                            <a href="{% url 'crud_productos' %}" class="btn-cambios btn btn-primary btn-crudp">Gestion de Productos</a>


                            <a href="{% url 'facturas' %}" class="btn-cambios btn btn-primary btn-crudf">Facturas</a>


                            <a href="{% url 'metodo_pago' %}" class="btn-cambios btn btn-primary btn-crudf">Gestion de metodos de pago</a>


                            <a href="{% url 'reservas_admin' %}" class="btn-cambios btn btn-primary btn-crudf">Gestion de Reservas</a>
                        </div>

        </div>
    </main><br>
{% endblock %}