{% extends 'base.html' %}
{% load static %}
{% block titulo %} Admin-Crudn {% endblock %}

{% block body %}

    <main>
        <div class="container mt-5">
            <h1 class="title text-center">ADMIN CRUD USUARIOS</h1>

            <!-- Create Form -->
            <div class="row mb-4 form-center">
                <div class="col-md-6 offset-md-3">
                    <h1 class="title">Añadir nuevo Usuario</h1>
                    <form class="form-user" method="post" action="" onsubmit="return validarFormulario()">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="name" name="nombre" required pattern="[A-Za-z ]{2,}">
                        </div>
                        <div class="mb-3">
                            <label for="apellido" class="form-label">Apellido:</label>
                            <input type="text" class="form-control" id="apellido" name="apellido" required pattern="[A-Za-z ]{2,}">
                        </div>
                        <div class="mb-3">
                            <label for="rol" class="form-label">Rol:</label>
                            <select name="rol" class="form-select" required>
                                <option value="">Seleccione</option>
                                <option value="2">Cliente</option>
                                <option value="1">Empleado</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="celular" class="form-label">Celular:</label>
                            <input type="text" class="form-control" id="celular" name="celular" required pattern="[0-9]{10}" title="Se solicita tener 10 digitos como minimo">
                        </div>
                        <div class="mb-3">
                            <label for="correo" class="form-label">Correo:</label>
                            <input type="email" class="form-control" id="correo" name="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="clave" class="form-label">Clave:</label>
                            <input type="password" class="form-control" id="clave" name="password" required minlength="8">
                        </div>
                        <div class="mb-3">
                            <label for="confirmar_clave" class="form-label">Confirmar clave:</label>
                            <input type="password" class="form-control" id="confirmar_clave" name="confirmar_password" required>
                        </div>
                        <button type="submit" class="btn-create btn btn-primary">Añadir Usuario</button>
                    </form>
                </div>
            </div>

            <!-- Read Items -->
            <h2>Usuario:</h2>
            <div class="row" id="itemList">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">Nombre: Juan</p>
                            <p class="card-text">Apllido: Perez</p>
                            <p class="card-text">Rol: Cliente</p>
                            <p class="card-text">Celular: 122345</p>
                            <p class="card-text">Correo: Perezjuan@gmaiil.com</p>
                            <p class="card-text">Tipo de Usuario: Cliente</p>
                            <button class="btn btn-warning" data-bs-toggle="modal"
                                data-bs-target="#updateModal"><a href="#" class="btn-edit">Editar</a></button>
                            <button class="btn btn-danger" onclick="eliminar_usuario()">Delete</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">Nombre: Santiago</p>
                            <p class="card-text">Apllido: Gonzalez</p>
                            <p class="card-text">Rol: Panadeor Auxiliar</p>
                            <p class="card-text">Celular: 3214312</p>
                            <p class="card-text">Correo: SantiPanadero@gmaiil.com</p>
                            <p class="card-text">Tipo de Usuario: Trabajador</p>
                            <button class="btn btn-warning" data-bs-toggle="modal"
                                data-bs-target="#updateModal"><a href="#" class="btn-edit">Editar</a></button>
                            <button class="btn btn-danger" onclick="eliminar_usuario()">Delete</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">Nombre: Jhony</p>
                            <p class="card-text">Apllido: Alcalde</p>
                            <p class="card-text">Rol: Domiciliario</p>
                            <p class="card-text">Celular: 6745633</p>
                            <p class="card-text">Correo: JhonyDomiciliario02@gmaiil.com</p>
                            <p class="card-text">Tipo de Usuario: Trabajador</p>
                            <button class="btn btn-warning" data-bs-toggle="modal"
                                data-bs-target="#updateModal"><a href="#" class="btn-edit">Editar</a></button>
                            <button class="btn btn-danger" onclick="eliminar_usuario()">Delete</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <!-- Update Modal -->
        <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateModalLabel">Actualizar Usuario</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="updateItemName" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="updateItemName" required>
                            </div>
                            <div class="mb-3">
                                <label for="updateItemName" class="form-label">Apellido</label>
                                <input type="text" class="form-control" id="updateItemName" required>
                            </div>
                            <div class="mb-3">
                                <label for="updateItemName" class="form-label">Rol</label>
                                <input type="text" class="form-control" id="updateItemName" required>
                            </div>
                            <div class="mb-3">
                                <label for="updateItemName" class="form-label">Celular</label>
                                <input type="text" class="form-control" id="updateItemName" required>
                            </div>
                            <div class="mb-3">
                                <label for="updateItemName" class="form-label">Correo</label>
                                <input type="text" class="form-control" id="updateItemName" required>
                            </div>
                            <div class="mb-3">
                                <label for="updateItemName" class="form-label">Tipo de Usuario</label>
                                <input type="text" class="form-control" id="updateItemName" required>
                            </div>
                            <button type="submit" class="btn-actualizar btn btn-primary">Update Item</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn-volverCambio btn btn-primary">
            <a href="{% url 'admin_dashboard' %}" class="btn btn-primary">Volver a Dashboard</a>
    </main><br>
    <script>
        function eliminar_usuario() {
            alert("Usuario eliminado correctamente")    
        }
        function añadir_usuario(){
            alert("Usuario agregado correctamente")
        }
    </script>

    <script>
        function validarFormulario() {
            let clave = document.getElementById("clave").value;
            let confirmarClave = document.getElementById("confirmar_clave").value;
            if (clave !== confirmarClave) {
                alert("Las contraseñas no coinciden");
                return false;
            }
            alert("Usuario agregado correctamente");
            return true;
        }
    </script>

{% endblock %}