{% extends 'base.html' %}
{% load static %}
{% block titulo %} Crud-DashBoard {% endblock %}
    
{% block body %}
    <main>
        <div class="container">
            <h1 class="title text-center my-4">Admin Dashboard</h1>


                        <div class="crud-buttoons">
                            <a href="{% url 'adminCRUDU' %}" class="btn-cambios btn btn-primary btn-crudu">Editar
                                Usuarios</a>


                            
                            <a href="{% url 'crud_categoria' %}" class="btn-cambios btn btn-primary btn-crudc">Editar
                                Categorías</a>



                            <a href="{% url 'crud_productos' %}" class="btn-cambios btn btn-primary btn-crudp">Editar Productos</a>



                            <a href="{% url 'facturas' %}" class="btn-cambios btn btn-primary btn-crudf">Editar Facturas</a>
                        </div>

        </div>
    </main><br>
{% endblock %}