*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}


body{
    background-color: rgb(238, 212, 174);
}

nav{
    background-color: rgb(250, 193, 87);
    padding: 10px;
}


.nav-link{
    color: black;
}

.nav-link:hover{
    color: white;
}

.nav-item{
    display: flex;
}
.nav-item>a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-principal-img{
    width: 95%;
    display: flex;
    justify-content: start;
    float: left;
    margin-left: 5%;
}
.img-title{
    float: left;
}
.logo{
    width: 90%;
    margin-top: 2%;
}
.cont_img{
    width: 13%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}
.title{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}
.search-bar {
    max-width: 500px;
    margin: auto auto;
}

.search-bar .input-group {
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.search-bar .form-control {
    border: none;
    padding-left: 20px;
}

.search-bar .btn {
    border: none;
    padding: 10px 20px;
    
}
.btn{
    background-color: rgb(250, 193, 87);
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.row{
    justify-content: center;
    margin: 0;
}
.col{
    max-width: 300px;
    
}

.btn-danger{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}

.card>img{
    height: 200px;
}
.card-title{
    display: flex;
    justify-content: center;
    
}
.cart-a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
    background-color:  rgb(250, 193, 87);
    color: black;
    padding: 10px;
}

.cart-a:hover{
    color: beige;
}

.precio{
    display: flex;
    justify-content: center;
    align-items: center;
}


.team-member {
    margin-bottom: 20px;
}

.team-member img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.team-member .card-body {
    padding: 20px;
}

.team-member .card-title {
    font-weight: bold;
    font-size: 18px;
}

.team-member .card-text {
    font-size: 16px;
    
}

.card-body{
    margin: 5px;
    background-color: beige;
    border-radius: 8px;
}

.card {
    margin-bottom: 20px;
    align-items: center;
}
.form-user{
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}

.btn-create{
    display: flex;
    background-color: rgb(250, 193, 87);
    border: none;
    color: black;
}

.btn-create:hover{
    background-color: rgb(238, 212, 174);
}

.btn-volver{
    text-decoration: none;
    color: black;
}
.btn-volver:hover{
    color: black;
}

.form-center{
    display: contents;
}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 3rem 0;
  }

.social-icons a {
    font-size: 1.25rem;
}

.btn-outline-secondary{
    background-color: black;
}
.carrito{
    background-color:  rgb(250, 193, 87);
    border: none;
}
.offcanvas-header{
    background-color: rgb(250, 193, 87);
}
.spaces{
    display: flex;
    justify-content: space-between;
}
.mb-3{
    width: 98%;
    margin-left: 10px;
}
.fa-search{
    color: white;
}