*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(238, 212, 174);
}

/*Nav*/
nav{
    background-color: rgb(250, 193, 87);
    padding: 10px;
}


.nav-link{
    color: black;
}

.nav-link:hover{
    color: white;
}

.nav-item{
    display: flex;
}
.nav-item>a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-principal-img{
    width: 95%;
    display: flex;
    justify-content: start;
    float: left;
    margin-left: 5%;
}
.img-title{
    float: left;
}
.logo{
    width: 90%;
    margin-top: 2%;
}
.cont_img{
    width: 13%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}
/*Titulos */
.title{
    color: black;
    display: flex;
    justify-content: center;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.btn-register{
    background-color: rgb(255, 166, 0);
    border: none;
    text-decoration: none;
    color: white;
}
.btn-register:hover{
    background-color: rgb(250, 193, 87);
    transition: 1s;
    color: white;
}
.op-login>p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: black;
}
.btn-login{
    text-decoration: none;
    color: white;
    background-color: rgb(255, 166, 0);
    border: none;
}
.btn-login:hover{
    background-color: rgb(250, 193, 87);
    transition: 1s;
    color: white;
}
.btn-clave{
    text-decoration: none;
    color: white;
    background-color: rgb(255, 166, 0);
}
.btn-clave:hover{
    background-color: rgb(250, 193, 87);
    transition: 1s;
    color: white;
}
.btn{
    color: blue;
    background-color: rgb(238, 212, 174);
    text-decoration: underline;
}
.btn-volverCambio{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 193, 87);
    border: none;
}
.btn-volverCambio:hover{
    background-color: rgb(250, 193, 87);
    color: black;
}
.btn-volverCambioLink{
    color: black;
    text-align: center;
    text-decoration: none;
}
.btn-volverCambioLink:hover{
    color: black;
}
footer {
    background-color: #343a40;
    color: #fff;
    padding: 3rem 0;
  }

.social-icons a {
    font-size: 1.25rem;
}
