.editUser{
    width: 100%;
    margin-bottom: 40px;
}
.user-img{
    border-radius: 100%;
    background-color: aliceblue;
    width: 160px;
    height: 160px;
    background-image: url(../img/nouser.jpg);
    background-size: cover;
}
.btn-ed{
    border: none;
    border-radius: 5px;
    background-color: rgb(250, 193, 87);
    width: auto;
    height: 35px;
    margin: 0px 20px 0px 20px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.img-section{
    display: flex;
    align-items: end;
}