{% extends 'base.html' %}
{% load static %}
{% block titulo %}Crud-User{% endblock %}


{% if messages %}
<div class="alert alert-danger">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
{% block body %}
<main>
    <div class="container mt-5">
        <h1 class="title text-center">PERSONALIZACION DE CUENTA DE USUARIO</h1>
        <form action="{% url 'editar-perfil' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="editUser">
                <h3>Tu foto</h3>
                <div class="img-section">
                    <div class="user-img"><img src="{{ request.session.auth.foto }}" alt="Bakery Bread"
                            class="img-user-crud" /></div>
                    <div class="btn-container-crud-user">
                        <button class="btn-ed">quitar</button>
                        <label for="">Cambiar foto de perfil</label><br>
                        <input type="file" class="form-control" name="foto" accept="image/*">
                    </div>
                </div>
            </div>

            <div class="editUser">
                <strong>
                    <h5>Nombre</h5>
                </strong>
                <input type="text" class="form-control" value="{{ request.session.auth.nombre }}" name="nombre">
            </div>
            <div class="editUser">
                <strong>
                    <h5>Apellido</h5>
                </strong>
                <input type="text" class="form-control" value="{{ request.session.auth.apellido }}" name="apellido">
            </div>
            <div class="editUser">
                <strong>
                    <h5>celular</h5>
                </strong>
                <input type="text" class="form-control" value="{{ request.session.auth.celular }}" name="celular">
            </div>
            <div class="editUser">
                <strong>
                    <h5>Correo</h5>
                </strong>
                <input type="text" class="form-control" value="{{ request.session.auth.email }}" name="email" readonly>
            </div>
            <div class="editUser"><button class="btn-ed">Actualizar</button></div>
        </form>

</main><br>



{% endblock %}