{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block titulo %} Contactenos {% endblock %}

{% block body %} 
    <main>
        <div class="container mb-5" > 
            <center><h2>Contáctanos</h2></center>
            <center><p>Si tienes alguna pregunta o comentario, no dudes en enviarnos un mensaje. ¡Estamos aqui para ayudarte!</p></center>
            <form>
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="name" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Correo Electrónico</label>
                    <input type="email" class="form-control" id="email" required>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="message" rows="5" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </main>

{% endblock %}



</body>

</html>
