{% extends 'base.html' %}
{% load static  %}
{% block titulo %} Inicio {% endblock %}
{% block titulo-body %} Bienvenido a Panaderia's Maye!!! {% endblock %}
{% block body %} 

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
      <p>{{ message }}</p>
    </div>
  {% endfor %}
{% endif %}
    <main>
        
        <div class="search-bar">
          <form action="">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar Producto" aria-label="Search" aria-describedby="search-addon" name="busqueda_producto" value="{{ producto_filtro }}">
                <button class="btn btn-outline-secondary" type="submit" id="search-addon">
                        <i class="fas fa-search"></i>
                    </button>
            </div>
          </form>
        </div>
        <br>
        <h2 class="title">Mas vendidos de la semana</h2><!--lista de productos-->

        {% if sin_resultados %}
          <div class="alert alert-warning text-center mt-3">
            No se encontraron productos con ese nombre.
          </div>
        {% endif %}

        <div class="row no-gutters row-cols-1 row-cols-md-2 g-5">
            {% for i in productoInfo %}
              {% if i.disponibilidad == "SI" %}
              <div class="col">
              
          
                <div class="card">
                  <img src="{{ i.foto.url }}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{ i.nombre }}</h5>
                    <p class="precio">COP {{ i.precio }}</p>
                    <a href="{% url 'agregar_carrito' i.id %}" class="cart-a"><i class="cart fa-solid fa-cart-shopping" ></i></a>
                  
                  </div>
                </div>
              </div>
              {% endif %}
            {% endfor %}  
            
          </div>
          
    </main><br><br>
{% endblock %}
