{% extends 'base.html' %}
{% load static  %}
{% block titulo %} Inicio {% endblock %}
{% block titulo-body %} Buenvenido a Panaderia's Maye!!! {% endblock %}
{% block body %} 

    </header><br>

    <main>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 image-container">
                    <img src="../static/img/logopan.png" alt="Bakery Bread" />
                </div>
                <div class="col-md-6">
                    <h1 class="title">Registrate</h1>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="form-label" >Nombre</label>
                            <input type="text" class="form-control" name="nombre" required id="nombre">
                        </div>
                        <div class="mb-3">
                            <label for="last-name" class="form-label">Apellido</label>
                            <input type="text" class="form-control" name="apellido" required id="apellido">
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Celular</label>
                            <input type="tel" class="form-control" id="celular" name="celular" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="clave" name="password" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Confirmar Contraseña</label>
                            <input type="password" class="form-control" id="clave" name="confirmar_password" required>
                        </div>
                        <button type="submit" class="btn-register btn btn-primary">Registrate</button>
                    </form>
                    <div class="op-login mt-3">
                        <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}" class="btn-login btn btn-link">Inicia sesión</a></p>
                    </div>
                </div>
            </div>
        </div>

        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </main><br>
{% endblock %}